<footer id="footer" class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="row-fluid">
    <div class="span4 footer-slider"></div>
    <div class="span8 footer-inner">
        <div class="container">
        <div class="row-fluid">
            <ul id="navigation">
                <li data-nav="trip" class="active"><a href="#/trip"><i class="icon-flag"></i> Trip</a></li>  
                <li data-nav="sync"><a href="#/sync"><i class="icon-cloud"></i> Sync</a></li>
                <li data-nav="settings"><a href="#/settings"><i class="icon-cog"></i> Settings</a></li>
                <li data-nav="more"><a href="javascript:void(0)"><i class="icon-dot-3"></i> More</a></li>  
            </ul>
        </div>                
        </div>
    </div> 
    </div>     
</footer>