<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/" name="top"><span class="title">Trip Data</span> </a>
            <div class="nav-collapse collapse">
                <ul class="nav" data-bind="foreach: router.visibleRoutes ">
                    <li data-bind="css: { active: isActive }">
                        <a  data-bind="attr: { href: hash }, text: name" ></a>
                    </li>
                    <li class="divider-vertical"></li>
                </ul>
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user"></i> admin	<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/settings"><i class="icon-wrench"></i> Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-share"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>
    <!--/.navbar-inner -->
</div>
<!--/.navbar -->