<nav id="header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="row-fluid">
            <div class="span4 sidemenu-header"></div>
            <div class="navbar-inner span12">
                <div class="container">
                    <div class="row-fluid">
                        <div class="button-column"> 
                            <button type="button" class="side-menu-link nav-button" id="btn-header-nav">
                                <i class="icon-menu"></i>
                            </button>  
                        </div>
                        <div class="span8 pad62 header-title">
                            <h4 id="header-title">Trip Data</h4>
                        </div>

                    </div>
                </div>
            </div>
    </div>
</nav>
