<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    
    
    <div class="list-view">
        <div class="row listing-view-container">
            <div class="listing-view">
                <ul data-id="1" class="list-group-items-view nav nav-list" data-bind="foreach: places">
                    <!--<li class="list-group"><span>A</span></li>-->
                    <li data-bind="click: $root.selectPlace"><a href="javascript:void(0)"><i data-icon="" class="icon arrow"></i><span data-bind="text: place"></span></a></li>
                </ul>
           </div>
        </div>
    </div>
</section>