<section>
    
    <h2 class="page-title" data-bind="text: title"></h2>
    
    <fieldset id="settings">
        
        <legend>Driver</legend>

        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="LastName">Lastname</label>
                <div class="controls">
                    <input type="text" id="LastName" placeholder="Lastname" data-bind="text: LastName">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="FirstName">Firstname</label>
                <div class="controls">
                    <input type="text" id="FirstName" placeholder="Firstname" data-bind="text: FirstName">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Email">Email</label>
                <div class="controls">
                    <input type="text" id="Email" placeholder="Email" data-bind="text: Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Password">Password</label>
                <div class="controls">
                    <input type="password" id="Password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="VerifyPassword">Verify password</label>
                <div class="controls">
                    <input type="password" id="VerifyPassword" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn" data-bind="click: save">Save</button>
                </div>
            </div>
        </form>
    </fieldset>

</section>