<section>
    
    <h2 class="page-title" data-bind="text: title"></h2>
    
    <fieldset>
        
        <legend>Driver</legend>

        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="LastName">Lastname</label>
                <div class="controls">
                    <input type="text" id="LastName" placeholder="Lastname" value="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="FirstName">Firstname</label>
                <div class="controls">
                    <input type="text" id="FirstName" placeholder="Firstname">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Email">Email</label>
                <div class="controls">
                    <input type="text" id="Email" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Password">Password</label>
                <div class="controls">
                    <input type="password" id="Password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="VerifyPassword">Verify password</label>
                <div class="controls">
                    <input type="password" id="VerifyPassword" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Save</button>
                </div>
            </div>
        </form>
    </fieldset>
 
      
    
 
        
  
</section>