<section>
     <fieldset id="sync">
        <legend>Sync</legend>
        <form class="form-horizontal">
            <div>
                This section allows you to synchronise your trips to the TripData server. 
            </div>
            <br />
            <div>
                <span data-bind="text: numberOfTrips"></span> trips to sync.
            </div><br />
            <div class="control-group">
                <div class="controls center">
                    <button type="submit" class="btn btn-primary large" data-bind="click: sync">Sync with server</button>
                </div>
            </div>
        </form>
    </fieldset>
</section>