<section>
     <fieldset id="sync">
        <legend>Sync</legend>
        <form class="form-horizontal">
            <div class="top20">
                This section allows you to synchronise your trips to the TripData server. 
            </div>
            <br />
            <div class="center bottom20">
                <span class="bold" data-bind="text: numberOfTrips"></span> trip(s) to sync.
            </div>
            <div class="placeholder">
                <div id="progressbar" class="progress-container" style="display: none;">
                    <div class="progress progress-striped active">
                        <div class="bar" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls center">
                    <button type="submit" class="btn btn-primary large" data-bind="enable: numberOfTrips() > 0, click: sync">Sync with server</button>
                </div>
            </div>
        </form>
    </fieldset>
</section>