<section id="login-section">
    <fieldset id="login">
        <div data-bind="text: title" class="header"></div>
        <form class="form-horizontal"> 
            <div class="control-group">
                <label class="control-label" for="Email">Email</label>
                <div class="controls">
                    <input type="text" id="Email" placeholder="Email" data-bind="value: email" autocapitalize="off"/>
                </div>
            </div>
      
            <div class="control-group">
                <label class="control-label" for="Password">Password</label>
                <div class="controls">
                    <input type="password" id="Password" placeholder="Password" data-bind="value: password" autocapitalize="off" />
                </div>
            </div>
        
            <div class="control-group">
                <div class="controls">
                    <input type="checkbox" id="rememberme" value="rememberme"/>
                    <label class="checkbox-label" for="rememberme" class="checkbox" >Remember me</label>
                </div>
            </div>
        
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn" data-bind="click: login">Login</button>
                </div>
            </div>
        </form>
    </fieldset>
    <div class="centered teaser">
        No Trip Data account? <a href="#/account/register" >Create an account</a>
    </div>
</section>
