<section id="register-section" style="display:none;">
    <fieldset id="register">
        <div data-bind="text: title" class="header"></div>
        <form class="form-horizontal"> 
            <div class="control-group">
                <label class="control-label" for="RegisterEmail">Email</label>
                <div class="controls">
                    <input type="text" id="RegisterEmail" placeholder="Email" data-bind="value: email" autocapitalize="off" />
                </div>
            </div>
      
            <div class="control-group">
                <label class="control-label" for="RegisterPassword">Password</label>
                <div class="controls">
                    <input type="password" id="RegisterPassword" placeholder="Password" data-bind="value: password" autocapitalize="off" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="RegisterPasswordConfirm">Password confirmation</label>
                <div class="controls">
                    <input type="password" id="RegisterPasswordConfirm" placeholder="Password" data-bind="value: password2" autocapitalize="off" />
                </div>
            </div>
  
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn" id="register-button" data-bind="click: register">Register</button>
                </div>
            </div>
        </form>
    </fieldset>
    <div class="centered teaser">
        Already have a Trip Data account? <a href="#/account/login">Login</a>
    </div>
</section>