@using System.Configuration


@{
    ViewBag.Title = "Index";
}


<h2>TripData</h2>

<section>
    <div class="field-label">Mongo:</div>
    <div class="field-value">@ConfigurationManager.AppSettings["MONGOLAB_URI"]</div>
</section>

<nav class="crud-links">
    <ul>
        <li>@Html.ActionLink("Create new trip", "Create")</li>
    </ul>
</nav>