#footer, footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 49px;
  /*margin: 0 auto;
  width: 940px;*/

  margin: 0 !important;
   padding: 0 !important;
  background-color: transparent;
  border: 0 none;
  background-image: url("../content/images/header-bar.png");
  background-position: 0 0;
background-repeat: repeat-x;
background-size: 100% 49px;
-webkit-background-size: 100% 49px;
width: 100%;
}
#footer .footer-inner {
  margin: 0;
  padding: 0;
}
#footer .footer-inner:after {
  clear: both;
}
#footer .footer-inner:before,
#footer .footer-inner:after {
  content: "";
  display: table;
  line-height: 0;
}
#footer ul {
  background-color: transparent;
  border: 0 none;
  height: 49px;
  margin: 0 !important;
  padding: 0 !important;
  width: 320px;
  list-style: none outside none;
  margin: 0;
  padding: 4px 0 4px 8px;
}
#footer li {
  background-image: url("../content/images/footer-bar.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 77px 49px;
  border-left: 2px solid #1c1c1c;
  border-right: 2px solid #474747;
  border-top: solid 1px #2c2c2c;
  float: left;
  height: 49px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 76px;
}
#footer li.active {
  background-image: url("../content/images/footer-bar-active.png");
}
#footer li a {
  color: #c8c8c8;
  display: block;
  height: 49px;
  line-height: 77px;
  padding: 0;
  text-align: center;
  width: 76px;
  font-size: 9pt;
}
#footer li a:hover {
  text-decoration: none;
  color: #fff;
}
#footer li.active a {
  color: #2cb4ff;
  text-shadow: 0 1px 1px #000;
}
#footer li a i {
  display: block;
  font-size: 2em;
  left: 25%;
  position: absolute;
  right: 0;
  text-shadow: 0 1px 2px #000;
  top: 3px;
}
#footer li [class^="icon-"],
#footer li [class*=" icon-"] {
  color: #aaa;
}
#footer li.active [class^="icon-"],
#footer li.active [class*=" icon-"] {
  color: #009ff7;
}
#footer li[data-id="4"] {
  border-right: solid 2px #1c1c1c;
}
#footer .footer-slider {
  margin: 0;
  padding: 0;
  display: block;
  border: 0;
  background: transparent;
  width: 260px !important;
  height: 49px;
  margin-left: -260px !important;
  position: relative;
  transition: margin 0.2s;
  transition-timing-function: linear;
  -moz-transition: margin 0.2s;
  -moz-transition-timing-function: linear;
  -webkit-transition: margin 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition: margin 0.2s;
  -o-transition-timing-function: linear;
}
.side-active #footer .footer-slider {
  border-right: 1px solid transparent;
  margin-left: 0 !important;
}





.sidemenu-header,
#side-menu {
  position: relative;
  transition: width 0.2s;
  transition-timing-function: linear;
  -moz-transition: width 0.2s;
  -moz-transition-timing-function: linear;
  -webkit-transition: width 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition: width 0.2s;
  -o-transition-timing-function: linear;
}
.sidemenu-header {
  margin: 0;
  padding: 0;
  display: block;
  line-height: 20px;
  background-color: transparent;
  background-image: url("../content/images/sidemenu-header.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 260px 44px;
  -webkit-background-size: 260px 44px;
  height: 44px;
  width: 0 !important;
}
.side-active .sidemenu-header {
  width: 260px !important;
  border-right: solid 1px #333;
}
.button-column {
  margin: 0px 0px 0px 5px !important;
}
#btn-header-nav {
  display: block;
  float: left;
}
#header {
  position: fixed;
  margin: 0 auto;
  width: 940px;
  height: 44px;
  z-index: 100001;
}
#header .navbar-inner {
  position: relative;
  transition: margin 0.2s;
  transition-timing-function: linear;
  -moz-transition: margin 0.2s;
  -moz-transition-timing-function: linear;
  -webkit-transition: margin 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition: margin 0.2s;
  -o-transition-timing-function: linear;
}
#header .navbar-inner .nav-button {
  background-color: transparent;
  border: 0 none;
  background-image: url("../content/images/header-nav-btn.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 41px 29px;
  -webkit-background-size: 41px 29px;
  height: 29px;
  width: 41px;
  margin: 6px 3px;
  padding: 0;
}
#header .navbar-inner .nav-button i.menu {
  display: block;
  background-image: url("../content/images/header-menu-icon.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  -webkit-background-size: 16px 16px;
  height: 16px;
  width: 16px;
  margin: -3px 12px;
}
#header .navbar-inner {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  border: 0 none;
  background-image: url("../content/images/header-bar.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 320px 44px;
  -webkit-background-size: 320px 44px;
  height: 44px;
  width: 320px;
}
#header .btn-toolbar {
  margin: 0 !important;
}
#header .header-controls {
  text-align: center;
  padding-left: 26px;
}
.header-controls .btn {
  background: transparent !important;
}
.header-controls .btn-toolbar,
.header-controls .btn-group,
.header-controls .btn {
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;
}
#header .btn-group.toolbar {
  margin: 0 auto !important;
}
#btn-header-nav [class^="icon-"],
#btn-header-nav [class*=" icon-"] {
  line-height: 0.59em;
  font-size: 2em;
  color: #bbb;
  text-shadow: 0 1px 1px #000;
}
#btn-header-nav .icon-menu:before {
  margin: -6px;
}
body.login-view-visible #header {
  display: none;
}
.header-title {
  color: #fff;
  padding-left: 15px;
  text-shadow: 0 1px 1px #000;
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 100%;
}

#nav-bar {
  position: relative;
  transition: margin 0.2s;
  transition-timing-function: linear;
  -moz-transition: margin 0.2s;
  -moz-transition-timing-function: linear;
  -webkit-transition: margin 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition: margin 0.2s;
  -o-transition-timing-function: linear;
}
#nav-bar {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0 none;
  background-image: url("../content/images/navbar.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 320px 44px;
  -webkit-background-size: 320px 44px;
  height: 44px;
  width: 320px;
}
#nav-bar.black {
  background-image: url("../content/images/navbar-black.png");
}
#nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 4px 0 4px 8px;
}
#nav-bar li {
  float: left;
  float: left;
  margin-right: 8px;
  padding: 0;
}
#nav-bar li a {
  background-color: transparent;
  border: 0 none;
  background-image: url("../content/images/navbar-btn.png");
  background-position: -1px 0;
  background-repeat: repeat-x;
  background-size: 96px 33px;
  border-radius: 6px 6px 6px 6px;
  border-right: solid 1px #aaa;
  border-left: solid 1px #aaa;
  -webkit-background-size: 96px 33px;
  height: 33px;
  width: 94px;
  display: block;
  text-decoration: none;
  color: #7a848d;
}
#nav-bar.black li a,
#nav-bar.black li [class^="icon-"],
#nav-bar.black li [class*=" icon-"] {
  color: #999;
}
#nav-bar li.active a,
#nav-bar li.active [class^="icon-"],
#nav-bar li.active [class*=" icon-"] {
  color: #fff;
}
#nav-bar.black li.active a,
#nav-bar.black li.active [class^="icon-"],
#nav-bar.black li.active [class*=" icon-"] {
  color: #3e9be3;
}
#nav-bar.items-3 li a {
  width: 94px;
  background-size: 96px 34px;
  -webkit-background-size: 96px 34px;
}
#nav-bar.items-2 li a {
  width: 146px;
  background-size: 148px 34px;
  -webkit-background-size: 148px 34px;
}
#nav-bar li a span {
  display: block;
  float: left;
  margin: 5px 0;
}
#nav-bar.black li a {
  background-image: url("../content/images/navbar-btn-black.png");
  color: #ddd;
  border-color: #252525;
}
#nav-bar li.active a {
  background-image: url("../content/images/navbar-btn-active.png");
}
#nav-bar.black li.active a {
  background-image: url("../content/images/navbar-btn-black-active.png");
}
#nav-bar li a:hover {
  text-decoration: none;
}
#nav-bar li a i {
  display: block;
  float: left;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  margin: 6px 6px 0 10px;
}
#nav-bar li.center {
  margin: 0px 3px;
}
#nav-bar li.right {
  margin-right: 0;
  float: right;
}
#nav-bar [class^="icon-"],
#nav-bar [class*=" icon-"] {
  font-size: 1.2em;
  margin-right: 12px;
}
#nav-bar.black [class^="icon-"],
#nav-bar.black [class*=" icon-"] {
  text-shadow: 0 1px 1px #222 !important;
}
.side-active #nav-bar {
  margin-left: 260px;
}
#side-menu {
  background: #2b2b2a;
  margin: -43px 0;
  padding: 0;
  border: 0;
  border-radius: 0 0 0 0 !important;
  display: block;
  width: 0;
}
#side-menu ul {
  margin: 0;
  padding: 0;
  min-height: 680px;
}
#side-menu li {
  height: 40px;
  line-height: 20px;
  background: url("../content/images/list-item.png") top left repeat-x;
  border-top: solid 1px #393938;
  border-bottom: solid 1px #181818;
}
#side-menu li.active {
  background: url("../content/images/list-item-selected.png") top left repeat-x;
}
#side-menu .nav-list > .active > a {
  background: none;
}
#side-menu li a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 16px 0 42px;
  color: #ceced0;
  text-shadow: none !important;
}
#side-menu li a [class^="icon-"],
#side-menu li a [class*=" icon-"] {
  margin: 0 0 0 -30px;
  position: absolute;
  font-size: 1.3em;
  text-shadow: 0 1px 1px #222;
}
#side-menu li .icon-right-open {
  font-size: 0pt;
  display: none;
  position: absolute;
  right: 15px;
}
.side-active #side-menu li .icon-right-open {
  font-size: 1.6em !important;
  display: block !important;
}
#side-menu li a:hover {
  background: transparent !important;
}
#side-menu a .icon-chevron-right {
  float: right;
  margin: 2px 0 -6px 0;
  opacity: 0.55;
}
.side-active #side-menu {
  width: 260px;
}
.side-active #body-container {
  left: 0;
  margin: 0;
  overflow-y: hidden;
}
.side-active #side-menu {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 600px;
  border: 0;
}

.sidemenu-header,
#side-menu {
  position: relative;
  transition: width 0.2s;
  transition-timing-function: linear;
  -moz-transition: width 0.2s;
  -moz-transition-timing-function: linear;
  -webkit-transition: width 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition: width 0.2s;
  -o-transition-timing-function: linear;
}
.sidemenu-header {
  margin: 0;
  padding: 0;
  display: block;
  line-height: 20px;
  background-color: transparent;
  background-image: url("../content/images/sidemenu-header.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 260px 44px;
  -webkit-background-size: 260px 44px;
  height: 44px;
  width: 0 !important;
}
.side-active .sidemenu-header {
  width: 260px !important;
  border-right: solid 1px #333;
}
.button-column {
  margin: 0px 0px 0px 5px !important;
}
#btn-header-nav {
  display: block;
  float: left;
}
#header, header {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 44px;
    overflow: hidden;
    z-index: 100001;
    -webkit-overflow-scrolling: none;
}

#header .navbar-inner {
  position: relative;
  transition: margin 0.2s;
  transition-timing-function: linear;
  -moz-transition: margin 0.2s;
  -moz-transition-timing-function: linear;
  -webkit-transition: margin 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition: margin 0.2s;
  -o-transition-timing-function: linear;
}
#header .navbar-inner .nav-button {
  background-color: transparent;
  border: 0 none;
  background-image: url("../content/images/header-nav-btn.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 41px 29px;
  -webkit-background-size: 41px 29px;
  height: 29px;
  width: 41px;
  margin: 6px 3px;
  padding: 0;
}
#header .navbar-inner .nav-button i.menu {
  display: block;
  background-image: url("../content/images/header-menu-icon.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  -webkit-background-size: 16px 16px;
  height: 16px;
  width: 16px;
  margin: -3px 12px;
}
#header .navbar-inner {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    border: 0 none;
    background-image: url("../content/images/header-bar.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: 100% 44px;
    -webkit-background-size: 100% 44px;
    height: 44px;
    width: 100%;
}
#header .btn-toolbar {
  margin: 0 !important;
}
#header .header-controls {
  text-align: center;
  padding-left: 26px;
}
.header-controls .btn {
  background: transparent !important;
}
.header-controls .btn-toolbar,
.header-controls .btn-group,
.header-controls .btn {
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;
}
#header .btn-group.toolbar {
  margin: 0 auto !important;
}
#btn-header-nav [class^="icon-"],
#btn-header-nav [class*=" icon-"] {
  line-height: 0.59em;
  font-size: 1.749999931881em;
  color: #bbb;
  text-shadow: 0 1px 1px #000;
}
#btn-header-nav .icon-menu:before {
  margin: -6px;
}
body.login-view-visible #header {
  display: none;
}
.header-title {
  color: #fff;
  padding-left: 15px;
  text-shadow: 0 1px 1px #000;
}
.login-view {
  background-color: #f5f5f5;
  padding-bottom: 40px;
  height: 100%;
}
.form-signin {
  height: 100%;
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.error-messages {
  margin-bottom: 8px;
}
#register-button {
  margin: 0 20%;
  width: 60%;
}
.register-message {
  color: #999;
  margin-top: 50px;
  text-align: center;
  text-shadow: none;
  width: 100%;
}
.signin-inner {
  margin: 50% 0;
}
#map_canvas {
  display: none;
}
.hidden {
  display: none !important;
}
body.login-view-visible #main,
body.login-view-visible #side-menu {
  display: none;
}
body {
  padding: 0 !important;
}
#main {
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 87px;
  width: 940px;
}
/* need this to get phonegap to work */
#main {
  z-index: -1;
}
#body-container {
  padding: 0 0 0 5px;
  border: 0;
  border-radius: 0 0 0 0 !important;
  top: 44px;
  left: 0;
  bottom: 49px;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  -webkit-overflow-scrolling: touch;

}
#body-container > div {
  min-height: 289px;
  padding-bottom: 150px;
}
/*#body-container div,
#body-container table {
  max-width: 295px;
}*/
body.login-view-visible {
  height: 600px;
}
/* iphone 5 */
@media screen and (device-aspect-ratio: 40/71) {
  #body-container div {
    max-width: 300px;
  }


}

/* iphone */  
@media screen and (device-aspect-ratio: 2/3) {
  #body-container div {
    /*max-width: 295px;*/   
  }

 
}

/* ipad */
@media screen and (device-aspect-ratio: 3/4) {
  #body-container div {
    max-width: 700px;
  }
}#nav-bar {
  position: relative;
  transition: margin 0.2s;
  transition-timing-function: linear;
  -moz-transition: margin 0.2s;
  -moz-transition-timing-function: linear;
  -webkit-transition: margin 0.2s;
  -webkit-transition-timing-function: linear;
  -o-transition: margin 0.2s;
  -o-transition-timing-function: linear;
}
#nav-bar {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0 none;
  background-image: url("../content/images/navbar.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 320px 44px;
  -webkit-background-size: 320px 44px;
  height: 44px;
  width: 320px;
}
#nav-bar.black {
  background-image: url("../content/images/navbar-black.png");
}
#nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 4px 0 4px 8px;
}
#nav-bar li {
  float: left;
  float: left;
  margin-right: 8px;
  padding: 0;
}
#nav-bar li a {
  background-color: transparent;
  border: 0 none;
  background-image: url("../content/images/navbar-btn.png");
  background-position: -1px 0;
  background-repeat: repeat-x;
  background-size: 96px 33px;
  border-radius: 6px 6px 6px 6px;
  border-right: solid 1px #aaa;
  border-left: solid 1px #aaa;
  -webkit-background-size: 96px 33px;
  height: 33px;
  width: 94px;
  display: block;
  text-decoration: none;
  color: #7a848d;
}
#nav-bar.black li a,
#nav-bar.black li [class^="icon-"],
#nav-bar.black li [class*=" icon-"] {
  color: #999;
}
#nav-bar li.active a,
#nav-bar li.active [class^="icon-"],
#nav-bar li.active [class*=" icon-"] {
  color: #fff;
}
#nav-bar.black li.active a,
#nav-bar.black li.active [class^="icon-"],
#nav-bar.black li.active [class*=" icon-"] {
  color: #3e9be3;
}
#nav-bar.items-3 li a {
  width: 94px;
  background-size: 96px 34px;
  -webkit-background-size: 96px 34px;
}
#nav-bar.items-2 li a {
  width: 146px;
  background-size: 148px 34px;
  -webkit-background-size: 148px 34px;
}
#nav-bar li a span {
  display: block;
  float: left;
  margin: 5px 0;
}
#nav-bar.black li a {
  background-image: url("../content/images/navbar-btn-black.png");
  color: #ddd;
  border-color: #252525;
}
#nav-bar li.active a {
  background-image: url("../content/images/navbar-btn-active.png");
}
#nav-bar.black li.active a {
  background-image: url("../content/images/navbar-btn-black-active.png");
}
#nav-bar li a:hover {
  text-decoration: none;
}
#nav-bar li a i {
  display: block;
  float: left;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  margin: 6px 6px 0 10px;
}
#nav-bar li.center {
  margin: 0px 3px;
}
#nav-bar li.right {
  margin-right: 0;
  float: right;
}
#nav-bar [class^="icon-"],
#nav-bar [class*=" icon-"] {
  font-size: 1.2em;
  margin-right: 12px;
}
#nav-bar.black [class^="icon-"],
#nav-bar.black [class*=" icon-"] {
  text-shadow: 0 1px 1px #222 !important;
}
.side-active #nav-bar {
  margin-left: 260px;
}
#side-menu {
  background: #2b2b2a;
  margin: -43px 0;
  padding: 0;
  border: 0;
  border-radius: 0 0 0 0 !important;
  display: block;
  width: 0;
}
#side-menu ul {
  margin: 0;
  padding: 0;
  min-height: 680px;
}
#side-menu li {
  height: 40px;
  line-height: 20px;
  background: url("../content/images/list-item.png") top left repeat-x;
  border-top: solid 1px #393938;
  border-bottom: solid 1px #181818;
}
#side-menu li.active {
  background: url("../content/images/list-item-selected.png") top left repeat-x;
}
#side-menu .nav-list > .active > a {
  background: none;
}
#side-menu li a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 16px 0 42px;
  color: #ceced0;
  text-shadow: none !important;
}
#side-menu li a [class^="icon-"],
#side-menu li a [class*=" icon-"] {
  margin: 0 0 0 -30px;
  position: absolute;
  font-size: 1.3em;
  text-shadow: 0 1px 1px #222;
}
#side-menu li .icon-right-open {
  font-size: 0pt;
  display: none;
  position: absolute;
  right: 15px;
}
.side-active #side-menu li .icon-right-open {
  font-size: 1.6em !important;
  display: block !important;
}
#side-menu li a:hover {
  background: transparent !important;
}
#side-menu a .icon-chevron-right {
  float: right;
  margin: 2px 0 -6px 0;
  opacity: 0.55;
}
.side-active #side-menu {
  width: 260px;
}
.side-active #body-container {
  left: 0;
  margin: 0;
  overflow-y: hidden;
}
.side-active #side-menu {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 600px;
  border: 0;
}


/*   org tripdata   */

#applicationHost {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: #f5f5f5;
}

h2.page-title {
    font-size: 26px;
}

.page-splash
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    opacity: 0.2;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.page-splash-message {
    text-align: center;
    margin: 10% 0 0 0;
    font-size: 400%;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-decoration: none;
    font-family: monospace;
    color: #F58A00;
    padding: 0;
}
.page-progress-bar {
    margin: 10% 30% 0 30%;
}

.toast {
    font-weight: normal;
}
.toast-info
{
    background-color: #194D7B;
}

.toast-bottom-right {
    bottom: 50px;
}
.loader .page-progress-bar {
    margin: 14px 0 0 0 ;
}

.loader {
    visibility: hidden;
}
.loader.active {
    visibility: visible;
}
legend { margin-bottom: 15px;padding-top: 10px;}

.btn {
   
    letter-spacing: 1px;
}

.btn-info {
    background-color: #0081C2;
    background-image: -moz-linear-gradient(top,#77CCFF,#194D7B);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#77CCFF),to(#194D7B));
    background-image: -webkit-linear-gradient(top,#77CCFF,#194D7B);
    background-image: -o-linear-gradient(top,#77CCFF,#194D7B);
    background-image: linear-gradient(to bottom,#77CCFF,#194D7B);
    background-repeat: repeat-x;
    border-color: #77CCFF #2f96b4 #194D7B;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff77CCFF', endColorstr='#ff194D7B', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
        color: white;
        background-color: #0081C2;
        *background-color: #0081C2;
        background-color: #194D7B;
        *background-color: #194D7B;
    }

    .btn-info:active,
    .btn-info.active {
        background-color: #0081C2 \9;
        background-color: #194D7B \9;
    }

fieldset#login .form-horizontal .control-label, fieldset#register .form-horizontal .control-label{ float: none; width: auto;text-align: left;}
fieldset#login .form-horizontal .controls, fieldset#register .form-horizontal .controls{ margin-left: 0px; }
fieldset#login .form-horizontal .control-group, fieldset#register .form-horizontal .control-group { margin-bottom: 5px; }
fieldset#login  input , fieldset#register input{ width: 95%; }
fieldset#login  input[type="checkbox"], fieldset#register input[type="checkbox"] { width: auto; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    display: none;
}


.form-horizontal .controls { margin-bottom: 0px; }
/* End Boostrap overrides  */
/***************************/
.form-horizontal .trip { width: 400px;}
.top-right { top: -45px;margin-right: 10px;z-index: 10001;}
fieldset#login,
fieldset#register{ 
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 10px;
    background-color: #fff; 
    padding-top: 10px; 
    padding-left: 14px; 
    padding-right: 14px;
    padding-bottom: 0;
    box-shadow: 0 0 4px #666; -moz-box-shadow: 0 0 4px #666; -webkit-box-shadow: 0 0 4px #666;
    display: block;
}
fieldset#login {
    height: 260px;
}
fieldset#register {
    height: 300px;
}
fieldset div.header {
    padding-bottom: 6px;
    height: 32px;
    font-size: 1.3em;
    border-bottom: 1px solid #ecedee;
    margin-bottom: 6px;
    font-weight: bold;
}
fieldset.trip{ padding-bottom: 25px;}
label.checkbox-label {display: inline-block;padding-bottom: 5px;}
.centered{ width: 100%;text-align: center; margin-left: -46px; }

.btn-group .btn {color: #777;font-weight: bold; text-shadow: 0 1px 1px #fff; letter-spacing: 0px;
}
#register-button{ margin-top: 10px;}
.btn-blue.active {
    color: #ffffff;
    background-color: rgb(58, 114, 224);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.large {width: 218px; padding: 9px; font-weight: bold; text-shadow: -1px 2px 0px rgba(0, 0, 0, 0.25);  font-size: 22px;}
button.btn.top10, .btn.large.top10 { margin-top: 10px;}
button.btn.top20, .btn.large.top20 { margin-top: 20px;}

@media (max-width: 767px) {
    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
        display: block;
        float: left;
    }
     .row-fluid .span1 {
         width: 18.682978723404255%;
     }
    .row-fluid .span8 {
        width: 65.95744680851064% !important;
    }

   
}

@media only screen and (max-width: 979px) {
    .top-right { display: none;}
    h2.page-title { display: none; }
    .navbar-fixed-top {margin-bottom: 0;}
    .nav-collapse, .nav-collapse.collapse { padding-top: 6px; }
    section.main {margin-top: 0;}

    form { margin: 0;}
    .form-horizontal .trip { width: 465px; }
    .form-horizontal .control-group { margin-bottom: 2px;}

    legend { display: none;}
    fieldset {padding: 3px 0 0 0;}

    .form-horizontal .control-group.right .controls input, textarea, .uneditable-input,
    .form-horizontal .control-group.left .controls input, textarea, .uneditable-input {
      width: 104px;
    }
    
   .form-horizontal .control-label { width: 160px;}
   .navbar-fixed-bottom { position: fixed;}
   footer span { padding: 0; font-size: 16px;}
   .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {margin-right: 0;margin-left: 0; }
}
@media only screen and (max-width: 480px) {
    body { padding-right: 5px; padding-left: 5px; }
    #applicationHost { padding-left: 5px; }
    section.main {  margin: 0px; }
    .page-splash-message {font-size: 150%; }

    fieldset#login,
    fieldset#register {
        width: 280px;
        margin-top: 14px;
        padding-top: 5px;
        padding-left: 12px;
        padding-right: 12px;
    }
    #body-container { padding: 0; }
    fieldset#trip, fieldset#settings, fieldset#sync {
        margin-left: auto;
        margin-right: auto;
        width: 293px;
    }

    label.checkbox-label { top: 4px; position: relative; }
    .centered { margin-left: 0px; }
    .teaser{ font-size: 15px; }
    .pull-left { margin-right: 0; padding-right: 0; padding-left: 12px}
    .pull-right { margin-left: 0; padding-left: 0;padding-right: 12px;}

    .form-horizontal .control-group .control-label { margin-bottom: 0;}
    .form-horizontal .trip { width: 310px; }
    .form-horizontal  .control-group.left {float: left;width: 50%;}
    .form-horizontal  .control-group.right {float: right;width: 50%;}
    .form-horizontal  .control-group.left .control-label { text-align: left; float: left;}
    .form-horizontal .control-group.right .control-label { text-align: left;width: 134px;float: right;}
    input, textarea, .uneditable-input { width: 292px; }
    input#EndMilage { float: left; margin-left: 19px; }

    input, textarea, .uneditable-input {width: 278px;}

    legend { margin-bottom: 3px; padding-top: 2px;font-size: 18px; line-height: 28px;}
    .navbar-fixed-bottom .navbar-inner { padding: 0px; }
    .navbar-inner { min-height: 0px; }
    footer span { padding: 0; font-size: 14px;}
    button.btn, input[type="submit"].btn { margin-top: 4px;}
    .center {text-align: center;}
    button[type="submit"].btn.top10 { margin-top: 6px; }
    .row-fluid .span8.pad62 {padding-left: 62px;}
    .btn-group { margin-top: 10px; }
    .btn.large {width: 292px;}
}
